<main   class="index">

<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1"> Asistencia de Clases Online</h1>
        <h3 class="mb-5">
            <em> Crea tu usuario si ya tienes uno por favor logueate</em>
        </h3>
        <a href="/Login" class="btn btn-primary">
         Comencemos
         </a>

    </div>
</header>


</main>